/* {box-sizing: border-box;} */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  /* background-color: #555; */
  color: #28a745;
  padding: 10px 22px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 3px;
  right: 0px;
  font-size: 50px;
  /* width: 280px; */
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea textarea */
.form-container>.msgbox {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  overflow: auto;
  max-height: 300px;
  max-width: 350px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.chat-popup{
    float: right;
    min-width: 350px;
}

.friends_popup{
  float: right;
  min-width: 200px;
  min-height: 300px;
}
.friendlist_ul{
  max-height: 300px;
  min-height: 300px;
  overflow-y: auto;
}
.chat_box{
    position: fixed;
    float: right;
    right: 0;
    bottom: 0;

}

.numberCircle {
  border-radius: 50%;
  /* behavior: url(PIE.htc); remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 10px Arial, sans-serif;
}