.task_list{
    height: 400px;
    border: 1px solid #ccd;
    overflow: auto;
    padding:3px;
    background: #f1f1f1;
  }

  .card_task_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .task_list>.card{
    margin-bottom:5px;
  }